:root {
    --side-width: 225px;
    --def-padding: 25px;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #1f1f1f;
}

.sidenav {
    height: 100%;
    width: var(--side-width);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #181818;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 12px;
    display: block;
    color: #ffffff;
}
.sidenav a:hover {
    color: #a0a0a0a0;
}

.main {
    margin-left: var(--side-width);
    font-size: 12px;
    padding: 0px 10px;
    color: #1f1f1f;
    color: #ffffff;
}

.section {
    padding-bottom: 50px;
}

.subsection {
    padding-top: 15px;
}

div.cmddef p, div.funcdef p {
    padding-left: var(--def-padding);
}

.mono {
    font-family: monospace;
}

code {
    display: block;
    padding: 20px;
    background-color: #2b2b2b;
    border: 1px solid #313131;
}

table.escseq {
    width: auto;
    table-layout: auto;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #2b2b2b;
}
table.escseq th, table.escseq td {
    border: 1px solid #313131;
    padding: 8px 12px;
    text-align: left;
}
table.escseq th {
    background-color: #383838;
}

table.argdesc {
    width: 100%;
    padding-left: var(--def-padding);
    table-layout: fixed;
}
table.argdesc th:first-child, table.argdesc td:first-child {
    width: 100px;
}